body{
	background-color:rgba(199, 199, 199, 0.829);
	font-family: "Avenir", "Helvetica";
	margin: 0;
	padding: 0;
}
#container{
	padding: 90px 50px 600px 100px;
	max-width: 1000px;
	max-height: max-content;
	margin: 0 auto; 
	display: flex;
}
#messageContainer{
	background: white;
	text-align: center;
}
h4{
	color:rgb(161, 161, 161);
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	padding: 10px 10px;
}
/*now testing */
progress{   
	width: 100%;
	display: none;
}
.square{
	background: rgba(107, 107, 243, 1);
	
	width: 90%;
	max-height: 600px;
    margin: 0;
	opacity: 0.5;
	padding-bottom: 50%;
	float: center;
	position: relative;
}
h1{
	color: rgb(255, 255, 255);
	--light: 80;
	/*background: rgb(62,1,175);*/
	font-size: 60px;
	text-align: center;
	/* text-transform: uppercase; */
	/* transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s; */
	padding: 20px;
	margin: 0;
	z-index: 10;
}
#colorDisplay{
	/*color: rgb(247, 228, 24);*/
	color: #ce631b;
	font-size: 90px;
	text-align: center;
	padding: 20px;
	opacity: 1;
}
#message{
	color: rgb(24, 145, 200);
	width: 15%;
	padding: 0 0 0 0;
	margin: 0 1.5% 0 5%;
	display: inline-block;
	font-size: inherit;
	font-weight: 800;
	letter-spacing: 1px;
}
.month { text-decoration: underline; }

button{
	border: none;
	width:450px;
	padding-right: 20px;
	background: none;
	height: 200%;
	padding: 30px;
	font-size: 180%;
	transition: all 0.4s;
	font-weight: 700;
	outline: none;
	letter-spacing: 1px;
	text-decoration: underline;
	border-radius: 60px;
}
button:hover{
	color: white;
	background: steelblue;
}
.selected{
	color: white;
	background: steelblue;
}
#score{
	color: white;
	font-size: 150%;
	font-weight: 500;
	text-align: center;
	width: inherit;
	/*line-height: 30px;*/
	padding: 100px;
	transition: all 0.4s;
}

.row{
	text-align: center;
}

.node{
	
	display: inline-block;
	width: 200px;
	margin:10px;
	height: 200px;
	background-color: rgb(49, 49, 49);
	opacity: 0.5;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transfer, .2s;

}

.node:active{
	transform: scale(.97);
	background-color: rgba(107, 107, 243, 1);
	transition: transform .2s;
}
.node.flip{
	background-color: rgba(107, 107, 243, 1);
	transform: rotateY(180deg);
}
.cursor{
	width: 3rem;
	height: 3rem;
	border: 10px solid rgb(248, 234, 37);
	border-radius: 80%;
	position: absolute;
	transform: translate(-50%,-50%);
	pointer-events: none;
	z-index: 2147483647
}
p{
	font-size:1vw;
	color:whitesmoke;

}